       
<footer>
    <section id="footer_2">
    <div class="container">
    <div class="row">
    <div id="copy_rights">
		<div class="col-md-6">
                <ul id="footer-nav">
                    <li>جميع الحقوق محفوظة ©</li>
					<li><a href="#">جامعة دمشق</a></li>
					<li><a href="#">مركز التوجيه المهني</a></li>
                    
                </ul>              
        </div>
	</div>
	<div id="social_container">
            <div class="col-md-6" style="text-align:center">
                <ul class="social-bookmarks clearfix">
                    <li class="delicious"><a href="#">delicious</a></li>
					<li class="googleplus"><a href="#">googleplus</a></li>
					<li class="twitter"><a href="#">twitter</a></li>
					<li class="facebook"><a href="#">facebook</a></li>
                </ul>
            </div>
	</div>
    </div>
	</div>
	
    </section>

</footer> 
 
