<header>
         <div class="container">
            <div class="row">
			<div id="logo">
			<a href="index.html" ><img src="img/du.png" alt="شعار جامعة دمشق" /></a>
			</div>
			<div id="s_t">
				<h1>جامعة دمشق</h1>
				</br>
				<h3>مركز التوجيه المهني</h3>
			</div>
			<div>
		<div id="m_m">
		
            
			<img src="img/OIPULES2.png" style="float:right;height:120px;">	
			<img src="img/Tem2.png" style="float:left;height:120px;">
			
		</div>
		</div>
		
         </div><!-- End row -->
         </div><!-- End container -->
		 <div class="container main_menu" >
		 <nav class="col-md-8 col-xs-9" id="top-nav" style="float:right;">
            	<ul>
                    <li><a href="#" id="purchase">حول الاختبار</a></li>
					<li><a href="#" id="purchase">أبدأ الاختبار</a></li>
					
               </ul>
            </nav>
		 </div>
        </header> <!-- End header -->