<head>
<!-- Basic Page Needs -->
<meta charset="utf-8" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>اختبار Strong لتحديد الميول</title>
<meta name="description" content="" />
<meta name="author" content="Mohamad Al Jasem" />
<!-- Favicons-->
<link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon" />
<!-- Mobile Specific Metas -->
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<!-- CSS -->
<link href="css/bootstrap.css" rel="stylesheet" />
<link href="css/style.css" rel="stylesheet" />
<link href="css/socialize-bookmarks.css" rel="stylesheet" />
<!-- Jquery -->
<script src="js/jquery-1.10.2.min.js"></script>
<script src="js/jquery-ui-1.8.12.min.js"></script>
<!-- HTML5 and CSS3-in older browsers-->
<script src="js/modernizr.custom.17475.js"></script>
<!-- Support media queries for IE8 -->
<script src="js/respond.min.js"></script>
</head>
